@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.container {
  width: 1200px;
  margin: 0px auto;
  max-width: 96%;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: ’’;
  content: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  height: auto;
  vertical-align: middle;
  border: 0;
}

audio,
canvas,
video {
  display: inline-block;
}

svg:not(:root) {
  overflow: hidden;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.4em;
  line-height: 1.5;
}

/* font-sizing for content */
p,
.p-like,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea,
caption,
details,
figure,
hgroup {
  margin-top: 0.75em;
  margin-bottom: 0;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 2em;
}

h1,
.h1 {
  font-size: 3.2rem;
}

h2,
.h2 {
  font-size: 2.8rem;
}

h3,
.h3 {
  font-size: 2.4rem;
}

h4,
.h4 {
  font-size: 2rem;
}

h5,
.h5 {
  font-size: 1.8rem;
}

h6,
.h6 {
  font-size: 1.6rem;
}

/* alternate font-sizing */
.smaller {
  font-size: 0.71em;
}

.small {
  font-size: 0.86em;
}

.big {
  font-size: 1.14em;
}

.bigger {
  font-size: 1.29em;
}

.biggest {
  font-size: 1.43em;
}

code,
pre,
samp,
kbd {
  white-space: pre-line;
  /* IE fix */
  white-space: pre-wrap;
  font-family: Consolas, 'DejaVu Sans Mono', Courier, monospace;
  line-height: normal;
}

em,
.italics,
address,
cite,
dfn,
i,
var {
  font-style: italic;
}

.normal {
  font-style: normal;
}

strong,
.bold {
  font-weight: bold;
}

small,
sub,
sup {
  font-size: smaller;
}

p:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
pre:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

/* avoid margins on nested elements */
li p,
li ul,
li ol {
  margin-top: 0;
  margin-bottom: 0;
}

/* max values */
img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
video {
  max-width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.man {
  margin: 0;
}

.pan {
  padding: 0;
}

.form {
  font-size: 1.2em;
}
.form.inline {
  display: block-inline;
}
.form.inline label, .form.inline input, .form.inline textarea, .form.inline select, .form.inline button {
  display: block-inline;
}

.form_text {
  letter-spacing: .04em;
  padding: .3em .7em;
  width: 100%;
}

.form-g {
  padding: .5em .5em;
}

.form_textarea {
  padding: 10px 20px;
  width: 100%;
  resize: vertical;
  height: 120px;
  line-height: 1.5em;
}

a.btn {
  text-decoration: none;
}

.btn {
  font-size: 100%;
  background-color: #fff;
  outline: 0;
  border: 1px solid #222;
  cursor: pointer;
  color: #333;
  padding: 3px 5px;
}

.btn-lg {
  font-size: 16 px;
  padding: 13px 22px;
}

.btn-md {
  padding: 10px 18px;
  font-size: 14px;
}

.btn-sm {
  padding: 7px 15px;
  font-size: 12px;
}
